.nav {
    display: flex;

}

.bars ul {
    display: flex;
    list-style: none;
}

.bars ul li a {
    color: blue;
    text-decoration: underline;
}

.bars ul li a.current {
    color: rgb(85, 77, 77);
    text-decoration: none; 
}

body {
    border: green solid 5px;
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.profile-container {
    display: flex;
    width: 400px;
    height: 350px;
    border: red solid 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    font-size: 25px;
}

.information {
    width: 700px;
    height: 300px;
    border: yellow solid 5px;
}

