.nav {
    display: flex;
    padding-left: 30px;
    margin-bottom: 30px;
}

.bars ul {
    display: flex;
    list-style: none;
}

.bars ul li a {
    color: blue;
    text-decoration: underline;
}

.bars ul li a.current {
    color: rgb(85, 77, 77);
    text-decoration: none; 
}

body {
    border: green solid 5px;
}

.contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

.profile-container {
    display: flex;
    width: 350px;
    height: 450px;
    border: red solid 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
}

.name {
    font-weight: bold;
    font-size: 25px;
}

.dev {
    text-align: center;
    line-height: 35px;
}

.information {
    width: 700px;
    height: 300px;
    border: yellow solid 5px;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}


